/* Element Plus：Select下拉菜单选中项 */
.el-select-dropdown__item.selected {
  background-color: #D0F8CE !important;
  color: #1B5E20 !important;
  font-weight: bold;
}

/* Element Plus：日期选择器今天 */
.el-date-table td.today {
  color: #33691E !important;
  font-weight: bold;
}

/* Element Plus：日期选择器选中 */
.el-date-table td.selected {
  background-color: #A5D6A7 !important;
  color: white !important;
  border-radius: 6px;
}
